<div class="container">
  <h1>Users</h1>

  <div class="alert alert-danger" *ngIf="error">Server side error</div>
  <form
    class="card card-body mt-3"
    #f="ngForm"
    (submit)="saveHandler(f)"
    [ngClass]="{
      male: f.value.gender === 'M',
      female: f.value.gender === 'F'
    }"
  >
    <input
      type="text"
      [ngModel]="usersService.selectedUser?.label"
      name="label"
      placeholder="Add user name"
      class="form-control"
      required
      minlength="3"
      #labelInput="ngModel"
      [ngClass]="{ 'is-invalid': labelInput.invalid && f.dirty }"
    />
    <div
      class="alert alert-danger"
      *ngIf="labelInput.errors?.['required'] && f.dirty"
    >
      User Name is required
    </div>
    <div
      class="alert alert-danger"
      *ngIf="labelInput.errors?.['minlength'] && f.dirty"
    >
      User Name must contain at least 3 characters
    </div>
    <select
      [ngModel]="usersService.selectedUser?.gender"
      name="gender"
      class="form-control"
      required
      #genderInput="ngModel"
      [ngClass]="{ 'is-invalid': genderInput.invalid && f.dirty }"
    >
      <option value="">Select option</option>
      <option value="M">M</option>
      <option value="F">F</option>
    </select>

    <div class="btn-group">
      <button
        class="btn"
        [disabled]="f.invalid"
        [ngClass]="{
          'btn-success': f.valid,
          'btn-danger': f.invalid
        }"
      >
        Save
      </button>
      <button
        class="btn btn-light"
        *ngIf="usersService.selectedUser"
        (click)="usersService.clearHandler()"
      >
        clear
      </button>
    </div>
  </form>

  <hr />

  <ul class="list-group">
    <li
      *ngFor="let u of usersService.users"
      class="list-group-item"
      [ngClass]="{
        male: u.gender === 'M',
        female: u.gender === 'F',
        selected: u.id === usersService.selectedUser?.id
      }"
    >
      <i
        (click)="usersService.setSelectedUser(u)"
        class="fa fa-3x"
        [ngClass]="{
          'fa-mars': u.gender === 'M',
          'fa-venus': u.gender === 'F'
        }"
      >
        {{ u.label }}
        {{ u.creationDate | date : "medium" }}
      </i>

      <i
        class="fa fa-trash fa-3x pull-right"
        (click)="usersService.deleteUser(u)"
      ></i>
    </li>
  </ul>
</div>
